/.Xdefaults
/.bash_history
/.bashrc
/.cache
/.config
/.created
/.cshrc
/.dotnet
/.drjava
/.esd_auth
/.exrc
/.forward
/.gitconfig
/.ivy2
/.lastlogin
/.local
/.login
/.logout
/.mailrc
/.profile
/.vscode
/.wget-hsts
/.mozilla
/.msvscode.hdinsight
/.vscode-remote-containers
/.vscode-server
/.vscode-server-insiders